// 项目颜色配置变量
$tr_blue: rgba(75, 112, 247, 1);
$tr_gray: rgba(255, 255, 255, 0.6);
$tr_darkgray: rgba(0, 0, 0, 0.4);



$tr_bar: #252f3b; //状态栏
$tr_base: #212A33; //内容区域
$tr_bg: #1D262F; //底部背景
$tr_bg_1: #018EC9; //节能减排背景色

$tr_line: #2F3841;//分割线
$tr_line_2: #3C4751;//分割线 2


$tr_font_base: #FFF;//主标题颜色
$tr_font_2: #B2BAC4;//次级标题颜色
$tr_font_data_base: #00FFD9;//数据1级颜色
$tr_font_data_2: #00D1FF;//数据2级颜色
$tr_font_data_3: #49D866;//数据3级颜色
$tr_font_data_4: #FFF;//数据4级颜色

$arrow_bg: #cfd2db;//箭头颜色

//图表颜色
$tr_run: #00FFD9;//运行
$tr_await: #00D1FF; //待机
$tr_fault: #FF6960;//故障
$tr_limit: #FEA50D;//限电
$tr_fix: #FDF604;//检修
$tr_stop: #D6D6D6;//停电




$tr_icon_base: #cfd2db;
$tr_icon_on: #00ffd9;








// 项目变量配置文件
$header_height: 88px; //header 高度
$footer_height: 98px;//footer 高度
$title_height: 80px;//标题 高度

$left_width: 24px;
$right_width: 24px;

$tr_font_size_bar: 36px;
$tr_font_size_title: 32px;
$tr_font_size_base: 26px;
$tr_font_size_tab: 20px;


//箭头 下
$arrow_width: 40px;
$arrow_height: 40px;






